@font-face {
  font-family: 'Proxima Soft';
  src: url('https://db.onlinewebfonts.com/t/4679956de12dd2d8fc06ed0333e1d21b.eot');
  src:
    url('https://db.onlinewebfonts.com/t/4679956de12dd2d8fc06ed0333e1d21b.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/4679956de12dd2d8fc06ed0333e1d21b.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/4679956de12dd2d8fc06ed0333e1d21b.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/4679956de12dd2d8fc06ed0333e1d21b.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/4679956de12dd2d8fc06ed0333e1d21b.svg#Proxima Soft') format('svg');
}
input,
textarea {
  font-family: 'Proxima Soft';
}
